@font-face {
	font-family: norseBold;
	src: url("./fonts/norse-bold-webfont.woff") format("woff"),
		 url("./fonts/norse-bold-webfont.woff2") format("woff2");
}


* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	line-height: 1.3em;
	/* outline: 1px solid red; */
}

body {
	display: flex;
	height: 100%;
	background: url("./images/newBackground.jpg");
}

#leftContainer {
	flex: 3;
	font-family: norseBold, sans-serif;
	background-attachment: scroll;
	color: white;
	height: 100%;
	font-size: 40px;
	margin: 0;
}

#leftContainer div {
	position: relative;
	top: 200px;
	display: flex;
	justify-content: center;
	align-items: center;
	background: rgb(0 0 0 / 40%);
	padding: 10px;
	gap: 20px;
}


#rightContainer {
	flex: 5;
	font-family: sans-serif;
	background: #f9faff;
	padding-top: 100px;
	padding-bottom: 100px;
	height: 100%;
}

#top {
	margin: 50px;
	width: 80%;
}

#top p {
	margin-top: 20px;
	width: 100%;
	font-size: 21px;
	font-weight: bold;
}

form div {
	background: white;
	padding: 25px 40px;
	margin: 20px 0;
}


form h2 {
	color: #4f4f4f;
	font-size: 20px;
}

form label {
	font-size: 12px;
	font-weight: bold;
	color: #838383;
}

button {
	font-size: 16px;
	font-weight: bold;
	text-shadow: 1px 1px 1px white;
	background: #6ca6d4;
	padding: 10px 40px;
	color: #282828;
	border: none;
	border-radius: 5px;
	box-shadow: 1px 1px 5px black;
	cursor: pointer;
	margin: 0px 50px;
}

button:hover {
	background: #89c2ee;
}

button:active {
	background: #6ca6d4;
}

button+div {
	margin: 0px;
}

button+div span {
	margin-left: 5px;
}

form h2 {
	width: 100%;
}

form div {
	display: flex;
	flex-wrap: wrap;
}

form p {
	flex-basis: 40%;
	padding-right: 60px;
	padding-top: 20px;
	display: flex;
	flex-direction: column;
}

input {
	height: 30px;
	padding: 10px;
	font-size: 16px;
	margin-top: 5px;
	border: 1px solid lightgray;
	border-radius: 5px;
	outline: none;

}

input:focus{
	border-color: blue;
	box-shadow: 1px 1px 1px darkblue;
}

input:invalid {
	border-color: red;
	box-shadow: 1px 1px 1px darkred;
}

span {
	float: left;
}

a {
	text-decoration: none;
	color: #344dab;
}

a:hover {
	color: #4861bd;
	text-decoration: underline;
}
